{% extends 'base.html' %}
{% load static %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'AlohaHouse/css/article/detail.css' %}" />
{% endblock %} 

{% block content %}

<!-- お気に入り登録 -->
<form action="{% url 'article:detail' %}" method="post" id="favolite-form">
    <!-- <input type="hidden" name="name" value="" /> -->
    <input type="hidden" name="url" if="url" value="{{ article_url }}" />
    {% csrf_token %}
    <button type="submit" id="favolite-btn">お気に入り</button>
</form>

<iframe src="https://suumo.jp/{{article_url}}" id="iframe" class="detail-iframe">
</iframe>

{% endblock %}

{% block extrajs %}
<script ype="text/javascript" src="{% static 'AlohaHouse/js/detail.js' %}"></script>
{% endblock %}


