{% extends 'base.html' %}


{% load static %}
{% block extracss %}
  <link rel="stylesheet" href="{% static 'AlohaHouse/css/article/search_routes.css' %}" />
{% endblock %} 


{% block content %}

<div class="error-messages">
  <ul>
      {% if message %}
      <li>{{ message }}</li>
      {% endif %}
  </ul>
</div>

<div class="row">

  <!-- 左側 -->
  <div class="col-md-6">
    <form action="{% url 'article:search_routes' %}" id="routes-form" method="post">
        <!-- 路線の企業 -->
        {% for company in company_list %}
        <section class="company-content">
          <h2 class="company-name">{{ company }}</h2>
      
          <!-- 路線 -->
          {% for route in company.route_set.all %}
          
          <input name="routes" 
                  type="checkbox" 
                  id="route-{{ route.id }}" 
                  value="{{ route.id }}" 
                  style="display: none;" />
          <label for="route-{{ route.id }}" 
                  class="search-route" 
                  style="border: 10px solid {{ route.color_code }};">
              {{ route.eng_name }}<span style="background-color: {{ route.color_code }}" class="routes-form-balloon">{{ route }}</span>
          </label>
      
          {% endfor %}
        </section>
        {% endfor %}
        {% csrf_token %}
      </form>
  </div>

  <!-- 右側 -->
  <div class="col-md-6">
    <div class="routes-box">
        <ul>
          {% for company in company_list %}
            <!-- 路線 -->
            {% for route in company.route_set.all %}

            <li>
              <span for="route-{{ route.id }}" class="search-route {{ route.eng_name }}" 
                      style="border: 10px solid {{ route.color_code }};">
                  {{ route.eng_name }}
              </span>
              <span>
                {{ route }}
              </span>
              <span class="X-mark float-right">
                ❌
              </span>
            </li>
            {% endfor %}
          {% endfor %}
        </ul>
    </div>
    <button id="submit-btn" class="btn-primary">この条件で検索</button>
  </div>
</div>

{% endblock %}

{% block extrajs %}
  <script ype="text/javascript" src="{% static 'AlohaHouse/js/search_routes.js' %}"></script>
{% endblock %}
