
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
/* フォントを指定したいところで */

#routes-form {
    position: relative;
    width: 100vw;
    height: calc(100vh - 82px);
    overflow: hidden;
}

#route-conents ul li {
    list-style: none;
    z-index: 100;
}

.search-route {
    position: absolute;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 200%;
    color: black;
    border-radius: 50%;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    display: inline-block;
    line-height: 200%;
}

#trains {
    position: relative
}

.train-svg {
    position: absolute;
    margin-left: 10px;
    /* margin-right: 100px; */
    display: inline-block; 
}
.train-svg .text {
    font-size: 44px;
    vertical-align: middle;
    font-weight: 300;
    font-family: 'Noto Sans JP';
}

.color-box {
    position: absolute;
    height: 500px;
    width: 500px;
    opacity: 0.3; 
    transform: scale(0.1);
    transition: 1s;
}

#station-form {
    position: absolute;
    height: 500px;
    width: 500px;
    top: 170px;
    left: 500px;
    transition: 1s;
    font-size: 30px;
}
#station-form section {
    font-family: 'Noto Sans JP';
    width: 400px;
    margin-left: 140px;
    padding-top: 15px;
    font-weight: 300;
}

#station-form section label {
    display: block;
}

.rotate-3 {
    transform: scale(1) rotate(80deg);
}

.rotate-2 {
    transform: scale(1) rotate(160deg);
}

.rotate-1 {
    transform: scale(1) rotate(45deg);
}

.no-rotate {
    transform: rotate(0) scale(0.1) !important;
}

@keyframes move{
    
    0%{
        transform:scale(1.0);
    }
    50%{
        transform:scale(1.5);
    }
    100%{
        transform:scale(1.5);
        transform:translateX(200px);
    }
}

/* 送信ボタン */
.submit-box {
    width: 100%;
    position: absolute;
    bottom:0;
    left:0;
    transition: 1s;
    display: none;
    background-color: black;
    opacity: 0.8;
    z-index: 400;
}

.more-btn {
    padding: 10px;
    width: 20%;
    margin-left: 28%;
}

.submit-btn {
    padding: 10px;
    width: 20%;
    margin-left: 5%;
}

/* チェックボックス */
#station-form input[type=checkbox] {
	display: none;
}
#station-form label {
	font-size: 1em;
	line-height: 1;
	position: relative;
	display: block;
	overflow: hidden;
    padding-bottom: 5px;
    padding-left: 20px;
	cursor: pointer;
	-webkit-transition: all 0.15s ease;
	        transition: all 0.15s ease;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#station-form .label-before {
	top: 1em;
	left: 1em;
	width: 10px;
	height: 10px;
	content: '';
    border: 0.2em solid #cccccc;
    margin-right: 4px;
}
#station-form input:checked + label:before {
	border-color: #da3c41;
	background: #da3c41;
}


/* こだわり条件 */
.condition-box {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 400;
    background-color: white;
    font-size: 1.5em;
}

.condition {
    width: 100vw;
    height: calc(100vh - 99px);
}

.condition-table {
    padding-top: 70px;
    border-spacing : 2px;
}