{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}

{% for field, errors in form.errors.items %}
    {% for error in errors %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endfor %}
{% endfor %}


<div class="signup-box">
    <div class="signup-title">Signup</div>
    <section>
        <form class="form-horizontal" role="form" method="post">
        {{ form.username|add_class:"input-signup" }}
        <input type="text" name="email" class="form-control input-signup" id="email" placeholder="E-Mail" required="" autofocus="">
        <input type="password" name="password1" class="form-control input-signup" id="password" placeholder="Password" required="">
        <input type="password" name="password2" class="form-control input-signup" id="password-confirm" placeholder="Confirm Password" required="">
        <button type="submit" class="signup-button">Signup for ALOHA HOUSE</button>
        {% csrf_token %}
        </form>
    </section>
</div>

    <style type="text/css">
        body {
        background-image: url("/static/AlohaHouse/img/signup-image.jpg");
        background-size: cover;
        background-position: center center; 
        background-attachment: fixed;
        }

        .signup-title {
            text-align: center;
            color: white;
            font-size: 5vh;
            margin-bottom: 3vh;
        }

        .signup-box {
            position: absolute;
            top: -35vh;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            width: 30vw;
            height: 3.2rem;
        }

        .input-signup {
            margin-bottom: 1vh;
        }

        .signup-button {
            width: 30vw;
            background-color: rgb(247,43,90);
            color: white;
            border: none;
            height: 5vh;
            border-radius: 130px;
        }
    </style>
{% endblock %}
