.article_name {
  font-size: 2.8vh;
}

.article {
  font-size: 1.8vh;
  width: 1200px;
}

.article_image {
  margin: 30px auto;
  float: left;
}
.article_info {
  float: left;
  margin: 4vh 10vw;
}

table{
    margin: 0 auto;
}
td,th{
  padding: 10px;
}
th{
  color: #fff;
  border-radius: 5px;
}
th:nth-child(1){
  background: #2A918E;
}
th:nth-child(2){
  background: #3377A8;
}
th:nth-child(3){
  background: #D1D464;
}
th:nth-child(4){
  background: #BF5762;
}
th:nth-child(5){
  background: #7B57A1;
}
td{
  color: #000;
}

td:nth-child(1){
  background: rgba(42, 145, 142, 0.08);
}
td:nth-child(2){
  background: rgba(51, 119, 168, 0.08);
}
td:nth-child(3){
  background: rgba(209, 212, 100, 0.08);
}
td:nth-child(4){
  background: rgba(191, 87, 98, 0.08);
}
td:nth-child(5){
  background: rgba(123, 87, 161, 0.08);
}
#modal-content{
  width: 80vw;
  height: 80vh;
  margin:1.5em auto 0;
  border:2px solid #aaa;
  background:#fff;
  z-index:2;
  position:fixed;
  display:none;
  overflow: auto;
  max-height: calc(100vh - 1.5em);
}

.button-link{
  margin-left : 60px;
  text-align:center;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.button-link:hover{
  cursor:pointer;
  color:#f00;
}

#modal-overlay{
  z-index:1;
  display:none;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:120%;
  background-color:rgba(0,0,0,0.75);
}

table.table tr:hover {
  background-color: #FFCC99;    /* マウスオーバー時の行の背景色 */
}